body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100vh;
}
#login .container #login-row #login-column #login-box {
    max-width: 600px;
    height: 335px;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}

#register .container #register-row #register-column #register-box {
    max-width: 600px;
    height: 520px;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.3);
    background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
}